#poh {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}
#poh a {
    display: flex;
    justify-content: space-between;
    font-family: "Courier New", monospace;
    transition: all 0.3s ease;
    text-decoration: none;
}
#poh a:hover {
    text-shadow: 0 0 10px #8A9A5B,
                 0 0 20px #8A9A5B;
    transform: translateY(-2px);
}

.searchbarANDbutton {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    width: 100%;
}

.searchbarANDbutton input {
    flex-grow: 1;
    font-family: "Courier New", monospace;
    padding: 2px 10px;
}
#btn-search{
    border-radius: 25px;
}
#searchbar{
    border-radius: 25px;
}
/*-----*/
.header-h { height: 120px; }
.content-mt { margin-top: 140px; }
/*-----*/
#header-img {
  height: 40px;
  width: auto;
  max-width: 200px;
  object-fit: contain;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#header-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px black;
  cursor: pointer;
}
/*-----*/
.cards{
display: flex;
justify-content: space-between;
font-family: "Courier New", monospace;
margin-top: 50px;
}

.cards img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.cards img:hover {
  transform: scale(1.05) rotate(-2deg);
  box-shadow: 0 0 25px black;
  cursor: pointer;
}

.cards p:hover{
transform: translateY(-2.5px);
text-decoration: underline;
}
/*-----*/
